<%- include('header') %>

    <section class="mt-5 pb-5" style="margin-bottom: 30%;">

        <div class="middle myAlign wow zoomIn pt-4">
            <h1>My <span style="color: rgb(255, 217, 0);">Bookings</span></h1>
      </div>

        <div class="container col-lg-8 mt-5  box-class wow fadeInUp">

            <div class="row">
                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Date of journey</th>
                            <th scope="col">No. of aduts</th>
                        </tr>
                    </thead>
    
                    <tbody>
    
                        <% for(var i=0; i<packages.length; i++){ %>
    
                            <tr>
                                <td>
                                    <%= packages[i].Name %>
                                </td>
                                <td>
                                    <%= packages[i].destination %>
                                </td>
                                <td>
                                    <%= packages[i].date %>
                                </td>
                                <td>
                                    <%= packages[i].adults %>
                                </td>
                            </tr>
    
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <%- include('footer') %>